#referidos_cuerpo { padding-left: 250px; }

#referidos_cuerpo_referidosIcono { margin-right: 15px; }

#wrongicon {margin-right: 10px;}

#referidos_cuerpo b { font-family:HelveticaNeueLTStd-Lt; color:#700013; }

#referidos_cuerpo font { font-family:HelveticaNeueLTStd-Lt; color:#700013; }

#referidos_cuerpo span { font-family:HelveticaNeueLTStd-Lt; }

#referidos_cuerpo_contenedorInfo {margin-top: 42px;}

#referidos_cuerpo_contenedorInfo h2 {font-size: 30px}

#referidos_cuerpo_contenedorInfo img {vertical-align: top; margin-right: 12px;}

#referidos_cuerpo_contenedorInfo_tituloParrafo span {color: #700013; font-family:HelveticaNeueLTStd-Lt;    }

#referidos_cuerpo_contenedorInfo_tituloParrafo p {margin-top: 15px; }

#referidos_cuerpo_contenedorInfo_tituloParrafo{display: inline-block; width: 840px; height: 200px;}







