.hide { display:none; }

.hide2 { display:none; }

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #949494;
	-webkit-box-shadow: 0px 10px 14px -7px #949494;
	box-shadow: 0px 10px 14px -7px #949494;
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	border:2px solid #b3afb3;
	display:inline-block;
	cursor:pointer;
	color:#1d1c1d;
	font-family: HelveticaNeueLTStd-Lt;
	font-size:14px;
	width: 500px;
	height: 60px;
	margin: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #999999;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

#concursoVentas{ font-family:HelveticaNeueLTStd-Lt;  }

#concursoVentas { padding-left: 250px }


#concursoVentas_ultimoGanador
    {text-align: center;
	border-color: white;
	border-width: thin;
	background-color: #F2F2F2;}

	#concursoVentas_ultimoGanador thead { color:white; background-color:#810B45; }


#concursoVentas_tablaPosiciones h2 {font-size:30px;display:inline-block;margin-top:20px;margin-bottom:20px;}

#concursoVentas_tablaPosiciones_tabla{
	text-align: center;
		border-color: white;
		border-width: thin;
		background-color: #F2F2F2;}

		#concursoVentas_tablaPosiciones_tabla thead { color:white; background-color:#810B45; }

#concursoVentas_todasLasPosiciones_tabla {
	text-align: center;
		border-color: white;
		border-width: thin;
		background-color: #F2F2F2;}

		#concursoVentas_todasLasPosiciones_tabla thead { color:white; background-color:#810B45; }

#tr1 {background-color: #FFF683;}
 #td1 { font-family:HelveticaNeueLTStd-Bd; color: #4c4c4c; }
 #td2 img { width:85px;  }
 #td3 {font-family: HelveticaNeueLTStd-Bd; color: #4c4c4c;}
 #td6 {font-family:HelveticaNeueLTStd-Bd; color:#700013;}
