#footer{

margin-top: 30px;
width: 100%;
height: 133px;
background-color:#7C7C7C;
bottom: 0px;

}

#footer_logomwcgris{
float: left;
margin-top: 15px;
margin-left: 30px;
}

.footer_nav{

	float: left;
	width: 120px;
	height: 130px;
	margin: 0px;
	list-style-type: none;
	margin-left:30px;

}

.footer_nav a { text-decoration: none;  }

.footer_nav li{

color: #F5F5F5;
font-size: 14px;	
margin-top: 10px;

}

#footer_texto{

	text-align: right;
	width: 500px;
	display: inline;
	height: 130px;

}

#footer_texto img{

	float: right;
margin-right: 30px;
margin-top: 20px;
}

#footer_texto p{

width: 500px;
display: inline;
font-size: 12px;
color: #CECECE;
font-family: arial;
}

#footer_texto p b { color: white; }